<nav class="nav-bar">
    <a class="nav-logo" href="#">
        <img src="../static/images/logo.png" alt="">
    </a>
    <ul class="nav-list">
        {%if session['loggedin']%}
        <li class="nav-item"><a href="/feedback">Feedback</a></li>
        <li class="nav-item"><a href="/logout">Uitloggen</a></li>
        {%endif%}
        <li class="nav-item"><a href="#">Mijn Account</a></li>
    </ul>
</nav>
<nav class="room-bar bg-light d-lg-none">
    <ul class="nav-list mx-auto">
        <li class="fw-bold">Selecteer kamer:</li>
        <li class="nav-item"><a class="text-dark fw-bold" href="#">Kamer 1</a></li>
        <li class="nav-item"><a class="text-dark fw-bold" href="#">Kamer 2</a></li>
        <li class="nav-item"><a class="text-dark fw-bold" href="#">Kamer 3</a></li>
        <li class="nav-item"><a class="text-dark fw-bold" href="#">Kamer 4</a></li>
    </ul>
</nav>