.login-bg{
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form{
    top: 160px;
    position: relative;
}
.input{
    background-color: #0B7275!important;
    border: 1px solid #004B58!important;
}
.input::placeholder{
   color: #fff!important;
}
.input:focus{
    box-shadow: none!important;
}
.submit{
    background-color: #004B58!important;
}
.submit:hover{
    background-color: #1a6774!important;
}
.a-link{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    padding-bottom: 2px;
}
.a-link:hover{
    color: #004B58!important;
    border-bottom: 1px solid #004B58;
    text-decoration: none;
}

