*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: #E6E6E6!important;
}

/***** Nav bar *****/
.nav-bar {
    width: 100%;
    padding: 8px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #026d80 0%, #008072 85.94%);
    z-index: 999;
}
.room-bar {
    width: 100%;
    padding: 8px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav-logo img {
    width: 100px;
}

.nav-list {
    margin: auto 0;
    padding-left: 0;
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    padding: 4px 8px;
}

.nav-item a:hover {
    color: rgb(240, 240, 240);
}

/***** Room selector *****/
.room-selector{
    width: 20%;
    min-width: 180px;
    max-width: 200px;
    padding-top: 7px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.rs-title{
    color: #696969;
    font-size: 1.1rem;
    font-weight: 500;
}

.rs-list {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 400;
    padding-left: 0;
    margin: 0 auto;
}

.rs-item {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.rs-item:hover {
    background: #E4E4E4;
}

.rs-item a {
    width: 100%;
    padding: 3px 0;
    text-decoration: none;
    color: #156968;
}

.rs-item a:hover {
    color: #156968;
}

/***** Card *****/
.row-box{
    height: 90px;
}
.temp-box{
    background-color: #F2F2F2;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    height: 100%;
}
/* Login Page */
.login-bg{
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form{
    top: 160px;
    position: relative;
}
.input{
    background-color: #0B7275!important;
    border: 1px solid #004B58!important;
    color: #fff!important;
}
.input::placeholder{
   color: rgba(255, 255, 255, 0.5)!important;
}
.input:focus{
    box-shadow: none!important;
}
.submit{
    background-color: #004B58!important;
}
.submit:hover{
    background-color: #1a6774!important;
}
.a-link{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    padding-bottom: 2px;
}
.a-link:hover{
    color: #004B58!important;
    border-bottom: 1px solid #004B58;
    text-decoration: none;
}

.fb-box{
    position: absolute;
    width: 50%;
    height: 70%;
    left: 30%;
    top: 110px;
    min-width: 300px;
    max-width: 1000px;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    background: #F2F2F2;
}

.fb-text{
    text-align: center;
}

.fb-textbox{
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 4px;
    resize: none;
    max-width: 800px;
    min-width: 200px;
    max-height: 1000px;
    min-height: 200px;
    width: 90%;
    height: 100%;
}

.fb-subknop{
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 4px;
    max-width: 150px;
    min-width: 80px;
    width: 80%;
    background-color: #156968;
    border: none;
    color: #FFFFFF;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: linear-gradient(to right, blue, lightgreen, red);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border: 2px solid rgb(116, 116, 116);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .row-box{
        height: 120px;
    }
}

